body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

#drumkit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

button, input {
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

button, audio {
    background-color: #4CAF50;
    color: white;
}

input[type="number"] {
    width: 100px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}
